body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-back {
  background-image: url(./shoply-background.jpg);
  position: fixed;
  background-size: cover !important;
}
.home-header {
  background-image: url(./shoply-background.jpg);
  background-size: cover;
}

.main-on-page{
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  width: 100vw;
}

.tocenter{
  position: absolute;
  top: 50%;
}

.white-text{
  color: white !important;
}

.example-enter{

  opacity: 0.01;

}
.example-enter-active{
 opacity: 1;
  transition: opacity 300ms;
}
